<html>

<head>
  <meta charset="UTF-8">
  <title></title>
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="/third-libs/vue.js"></script>
  <script type="text/javascript" src="/third-libs/flexible.js"></script>
  <link rel="stylesheet" href="/third-libs/animate.min.css">
  <link rel="stylesheet" href="/third-libs/swiper.min.css">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
  <link href="https://cdn.bootcss.com/layer/3.0.1/skin/default/layer.css" rel="stylesheet">
  <script src="/third-libs/swiper.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <!-- <script type="text/javascript" src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/flexible.js"></script> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script> -->
 



 <script>
    
    // function setDocFontSize(base) {
    //   var width = 375,
    //   domEle = document.documentElement;
    //   dw = domEle.clientWidth || width,
    //   iw = window.innerWidth || width,
    //   sw = window.screen.width || iw,
    //   saw = window.screen.availWidth || iw,
    //   w = Math.min(dw, iw, sw, saw);
    //   base = base || 750;
    //   if (w > base) {
    //       w = base;
    //   }
    //   if (window.devicePixelRatio) {
    //       dpr = window.devicePixelRatio;
    //   } else {
    //       dpr = navigator.userAgent.match(/iphone/i) ? (w > 818 ? 3 : w > 480 ? 2 : 1) : 1;
    //   }
    //   dpr = Math.floor(dpr);
    //   // domEle.style.fontSize = w / base * 100 + "px";
    //   // domEle.body.style.fontSize = w / base * 100 + "px";
    //   domEle.dataset.dpr = dpr;
    // }
    // setDocFontSize(320)
  </script>
  <script>
     let wid = $(window).width();
     let std = wid/400
    let ss = <%- JSON.stringify(work) %>;
    let t = ss.pages[0].elements.length;

    //所有元素等比例缩放
    for(i=0;i<t;i++){
      
      ss.pages[0].elements[i].commonStyle.width = ss.pages[0].elements[i].commonStyle.width * std >wid ? wid:ss.pages[0].elements[i].commonStyle.width * std ;
      ss.pages[0].elements[i].commonStyle.top = ss.pages[0].elements[i].commonStyle.top * std ;
      ss.pages[0].elements[i].commonStyle.bottom = ss.pages[0].elements[i].commonStyle.bottom * std ;
      ss.pages[0].elements[i].commonStyle.fontSize = ss.pages[0].elements[i].commonStyle.fontSize * std ;
      ss.pages[0].elements[i].commonStyle.height = ss.pages[0].elements[i].commonStyle.height * std ;
      ss.pages[0].elements[i].commonStyle.left = ss.pages[0].elements[i].commonStyle.left * std ;
      
    }
    window.__work = ss

    $('title').html(window.__work.title)

  </script>
  <script src="/engine-assets/engine.umd.js"></script>
  <style>
    * {
      outline: none;
    }
    html,body{
      width:100%;
      overflow-x: hidden;
    }
    
   .linkway{
      position: fixed!important;
      width:100%!important;
      top:auto!important;
      height: auto!important;
      left:0!important;
      z-index: 999;
    }
    
 
  </style>
</head>
<!-- <body onload="setDocFontSize(320)"> -->
<body>
  <div id="app">
    <!-- <button class="swiper-button-next" style="position: fixed;left: 1000px">Next</button>
    <button class="swiper-button-prev" style="position: fixed;left: 1000px;margin:20px 0">Prev</button> -->
    <engine />
  </div>
  <script>
    // Vue.component('engine', window.Engine)
    new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      },

    });
  </script>

  <!-- build:js scripts/vendor.js -->
  <!-- endbuild -->
</body>

</html>